.list-default-styling {
    list-style: disc;
    padding: 14px;
}

.faq-page {
    padding: 50px;
}

.faq-title {
    font-size: 2rem;
    margin-bottom: 50px;
}

.faq-card {
    padding-bottom: 40px;
}