.product-recommendations .product-name {
    font-size: 1rem;
}
.product-recommendations .product-image {
    height: 250px;
}
.product-recommendations .product-image img{
    max-height: 100%;
}